/* Import Montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
    font-family: 'Montserrat',sans-serif;
    margin: 0;
    padding: 0;
    background: url('https://images.unsplash.com/photo-1488554378835-f7acf46e6c98?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center fixed;
    background-size: cover;
    color: #e9e9e9;
    transition: background-color 0.5s, color 0.5s;
}
/* Body Styles */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(10px);
    z-index: -1;
}
header {
    color: #fff;
    padding: 1rem;
    transition: background-color 0.5s;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #f0f4f8;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffcc00;
}

section {
    padding: 2rem;
    text-align: center;
    opacity: 0;
    animation: fadeIn 1s forwards;
    margin: 1rem;
    border-radius: 10px;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

h1, h2 {
    color: #e6b800;
    transition: color 0.5s;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.gallery a {
    display: block;
    transition: transform 0.3s;
}

.gallery a:hover {
    transform: scale(1.05);
}

.gallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 2px solid #ffcc00;
    border-radius: 10px;
    transition: filter 0.3s;
}
img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 600px) {
    img {
        width: 100%;
    }
}

@media screen and (min-width: 601px) {
    img {
        width: 50%;
    }
}
footer {
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    transition: background-color 0.5s;
}

form input, form textarea {
    display: block;
    width: 80%;
    margin: 0.5rem auto;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
}

form button {
    padding: 0.7rem 1.5rem;
    background-color: #ffcc00;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #e6b800;
}
