/* Import Montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

body {
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    font-size: 16px; /* Adjust as needed */
    margin: 0;
    padding: 0;
    background: url('https://img.freepik.com/premium-vector/abstract-background-gradient-background-3d-background-creative-design-landing-page-web-advertisement-promotion-banner_331749-199.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #e9e9e9;
    transition: background-color 0.5s, color 0.5s;
    letter-spacing: 2px; /* Adjust as needed */
    line-height: 1.6; /* Adjust as needed */
}
/* Body Styles */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(5px);
    z-index: -1;
}
header {
    color: #fff;
    padding: 1rem;
    transition: background-color 0.5s;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #f0f4f8;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    transition: color 0.3s, background-color 0.3s, border 0.3s, padding 0.3s; /* Add this line */
}

nav a:hover {
    color: #000000; /* Change this to the color you want for the text */
    background-color:#d7c4c4; /* This makes the box fully white */
    border: 2px solid #d7c4c4; /* This adds a white border */
    border-radius: 25px; /* This makes the edges curved */
    padding: 2px; /* This adds some space around the text */
    animation: inOutAnimation 1s infinite;
}
@keyframes inOutAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
section {
    padding: 1rem;
    text-align: center;
    opacity: 0;
    animation: fadeIn 1s forwards;
    margin: 1rem;
    border-radius: 10px;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

h1, h2 {
    color: #e6b800;
    transition: color 0.5s;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.gallery a {
    display: block;
    transition: transform 0.3s;
}

.gallery a:hover {
    transform: scale(1.05);
}

.gallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 2px solid #ffcc00;
    border-radius: 10px;
    transition: filter 0.3s;
}
img {
    width: 100%;
    height: auto;
}
.artwork {
    width: 25%;
    height: auto;
}
@media screen and (max-width: 600px) {
    img {
        width: 100%;
    }
}

@media screen and (min-width: 601px) {
    img {
        width: 50%;
    }
}
footer {
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    transition: background-color 0.5s;
}

form input, form textarea {
    display: block;
    width: 80%;
    margin: 0.5rem auto;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
}

form button {
    padding: 0.7rem 1.5rem;
    background-color: #ffcc00;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #e6b800;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgb(255, 0, 0);
    color: white;
    cursor: pointer;
    padding: 11px;
    border-radius: 50px;
    font-size: 10px;
  }
  
  #myBtn:hover {
    background-color: #000000;
  }
  